version: '3'

services:
  webserver:
    image: php:7-alpine
    working_dir: /var/www
    command: php -S 0.0.0.0:80
    ports:
      - "8080:80"
    volumes:
      - ./src/:/var/www
    environment:
      XDEBUG_CONFIG: remote_host=host.docker.internal
    links:
      - "db:database"

  db:
    image: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: mysql.1

